<div th:fragment="STYLES" th:remove="tag">
    <meta charset="utf-8"/>
    <meta name="google" value="notranslate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/@fortawesome/fontawesome-pro/css/all.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/messenger-hubspot/build/css/messenger.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/messenger-hubspot/build/css/messenger-theme-flat.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/iziToast/css/iziToast.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/sweetalert2/dist/sweetalert2.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/vue-form-wizard/dist/vue-form-wizard.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/vue-multiselect/dist/vue-multiselect.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/@fortawesome/fontawesome-pro/css/fontawesome.min.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{/phobos/css/phobos.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/phobos/css/override.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/fullcalendar/packages/core/main.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/fullcalendar/packages/daygrid/main.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/fullcalendar/packages/timegrid/main.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/fullcalendar/packages/list/main.min.css}" />
    
</div>


<div th:fragment="styles-bootstrap-colorpicke">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}" />
</div>

<div th:fragment="FAVICON" th:remove="tag">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/phobos/images/favicon/apple-touch-icon-57x57.png}"/>
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/phobos/images/favicon/apple-touch-icon-114x114.png}"/>
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/phobos/images/favicon/apple-touch-icon-72x72.png}"/>
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/phobos/images/favicon/apple-touch-icon-144x144.png}"/>
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/phobos/images/favicon/apple-touch-icon-60x60.png}"/>
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/phobos/images/favicon/apple-touch-icon-120x120.png}"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/phobos/images/favicon/apple-touch-icon-76x76.png}"/>
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/phobos/images/favicon/apple-touch-icon-152x152.png}"/>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/phobos/images/favicon/apple-touch-icon-180x180.png}"/>
    <link rel="shortcut icon" th:href="@{/phobos/images/favicon/favicon.ico}"/>

    <link rel="icon" type="image/png" th:href="@{/phobos/images/favicon/favicon-16x16.png}" sizes="16x16"/>
    <link rel="icon" type="image/png" th:href="@{/phobos/images/favicon/favicon-32x32.png}" sizes="32x32"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" th:content="@{/phobos/images/favicon/mstile-144x144.png}"/>
    <meta name="msapplication-config" th:content="@{/phobos/images/favicon/browserconfig.xml}"/>
</div>

<div th:fragment="JAVASCRIPT" th:remove="tag">
    <script type="text/javascript" th:src="@{/vendor2/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor2/vue/vue.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor2/axios/dist/axios.min.js}" ></script>
    <script type="text/javascript" th:src="@{/vendor2/iziToast/js/iziToast.min.js}"></script>

    <script type="text/javascript" th:src="@{/vendor2/popper.js/dist/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor2/tooltip.js/dist/umd/tooltip.min.js}"></script>

    <script type="text/javascript" th:src="@{/vendor2/bootstrap/dist/js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{/vendor2/@fortawesome/fontawesome-pro/js/all.min.js}"></script>

    <script type="text/javascript" th:src="@{/vendor2/messenger-hubspot/build/js/messenger.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor2/messenger-hubspot/build/js/messenger-theme-flat.js}"></script>


    <script type="text/javascript" th:src="@{/vendor2/jquery.numeric/jquery.numeric.min.js}"></script>

    <script type="text/javascript" th:src="@{/vendor2/moment/min/moment-with-locales.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor2/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor2/vue-bootstrap-datetimepicker/vue-bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript"  th:src="@{/vendor2/vue-multiselect/dist/vue-multiselect.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor2/vue-form-wizard/dist/vue-form-wizard.js}"></script>

    <script type="text/javascript" th:src="@{/vendor2/bootbox/bootbox.min.js}"></script>

    <script type="text/javascript" th:src="@{/vendor2/sweetalert2/dist/sweetalert2.all.min.js}"></script>

    <script type="text/javascript" th:src="@{/vendor2/parsleyjs/dist/parsley.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor2/parsleyjs/src/i18n/es.js}"></script>
    <script type="text/javascript" th:src="@{/vendor2/parsleyjs/src/extra/validator/comparison.js}"></script>

    <script type="text/javascript" th:src="@{/vendor2/jquerymd5/jquery.md5.js}"></script>
    <script type="text/javascript" th:src="@{/vendor2/fullcalendar/packages/core/main.min.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/vendor2/fullcalendar/packages/daygrid/main.min.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/vendor2/fullcalendar/packages/timegrid/main.min.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/vendor2/fullcalendar/packages/list/main.min.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/vendor2/fullcalendar/packages/interaction/main.min.js}" charset="utf-8"></script>



    <script  th:inline="javascript" >
        /*<![CDATA[*/
        var contextPath = /*[[@{/}]]*/ '/app';
        /*]]>*/
    </script>

    <script type="text/javascript" th:src="@{/phobos/js2/app.js}"></script>
    <script type="text/javascript" th:src="@{/phobos/js2/nav.js}"></script>
    <script type="text/javascript" th:src="@{/phobos/js2/util.js}"></script>

</div>


<div th:fragment="notify">
    <script th:inline="javascript" th:if="${notificaciones}">
        /*<![CDATA[*/
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        }
        var msgJson = /*[[${notificaciones.all()}]]*/ mensajes;

        $(function () {
            for (var i = 0; i < msgJson.length; i++) {
                notify(msgJson[i].mensaje, msgJson[i].tipo);
            }
        });

        /*]]>*/
    </script>
</div>

<div th:fragment="javacsript-vue-bootstrap-datetimepicker" th:remove="tag">
    <script type="text/javascript" th:src="@{/vendor/vue-bootstrap-datetimepicker/vue-bootstrap-datetimepicker.min.js}" charset="utf-8"></script>
</div>
<div th:fragment="javascript-bootstrap-datetimepicker" th:remove="tag">
    <script type="text/javascript" th:src="@{/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}" charset="utf-8"></script>
</div>

<div th:fragment="notificacion">
    <div id='templateNotificacion' type="text/x-jsrender" class="hide">

        <a href="#" class="media list-group-item notificaLink" rel='{{:url}}'>
            <span class="media-body block m-b-none">
                {{:titulo}}
                <small class="d-block text-dark">
                    {{:texto}}
                </small>
                <small class="text-muted block">{{:fechaHora}}</small>
            </span>
        </a>
    </div>
    <script type="text/javascript" th:src="@{/phobos/js/app.notificacion.js}"/>

</div>

<div th:fragment="google-analytics">
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-89883780-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-89883780-5');
    </script>
</div>



