<modal-vik ref="categoriaModal"
           v-bind="categoriaModal"
           v-bind:okaction="saveCategoria">
    <div slot="body">
        <div class="card-body ">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input placeholder="Ingrese nombre" v-model="categoria.nombre" class="form-control" required="true"/>
            </div>
            <div class="card mt-5">
                <div class="card-body border border-primary p-0"
                     style="border-radius: 5px">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Nombre</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in categorias">
                                <td>
                                    <span v-text="item.nombre"></span>
                                </td>
                                <td class="float-right h-100 d-flex justify-content-end">
                                    <button class="btn btn-danger btn-sm" v-on:click="eliminarCategoria(item)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</modal-vik>